.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.form-horizontal .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-horizontal .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
.judge:before,
.judge:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
.judge:after {
  clear: both;
}
@font-face {
  font-family: "Gotham";
  font-weight: 100;
  src: local('Gotham-Light'), local('GothamLight'), local('Gotham Light'), url('/assets/fonts/gotham/gotham-light.otf') format('otf');
}
@font-face {
  font-family: "Gotham";
  font-weight: 200;
  src: local('Gotham-Thin'), local('GothamThin'), local('Gotham Thin'), url('/assets/fonts/gotham/gotham-thin.otf') format('otf');
}
@font-face {
  font-family: "Gotham";
  font-weight: 300;
  src: local('Gotham-Book'), local('GothamBook'), local('Gotham Book'), url('/assets/fonts/gotham/gotham-book.otf') format('otf');
}
@font-face {
  font-family: "Gotham";
  font-weight: 400;
  src: local('Gotham-Medium'), local('GothamMedium'), local('Gotham Medium'), url('/assets/fonts/gotham/gotham-medium.otf') format('otf');
}
@font-face {
  font-family: "Gotham";
  font-weight: 500;
  src: local('Gotham-Bold'), local('GothamBold'), local('Gotham Bold'), url('/assets/fonts/gotham/gotham-bold.otf') format('otf');
}
@font-face {
  font-family: "Gotham";
  font-weight: 600;
  src: local('Gotham-Black'), local('GothamBlack'), local('Gotham Black'), url('/assets/fonts/gotham/gotham-black.otf') format('otf');
}
@font-face {
  font-family: "Gotham";
  font-weight: 700;
  src: local('Gotham-Ultra'), local('GothamUltra'), local('Gotham Ultra'), url('/assets/fonts/gotham/gotham-ultra.otf') format('otf');
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on September 28, 2012 */
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('/assets/fonts/proxima-nova/proximanova-regular-webfont.eot');
  src: local('?'), url('/assets/fonts/proxima-nova/proximanova-regular-webfont.woff') format('woff'), url('/assets/fonts/proxima-nova/proximanova-regular-webfont.ttf') format('truetype'), url('/assets/fonts/proxima-nova/proximanova-regular-webfont#ProximaNovaBlRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaBlRegular';
  src: url('/assets/fonts/proxima-nova/proximanova-black-webfont.eot');
  src: local('?'), url('/assets/fonts/proxima-nova/proximanova-black-webfont.woff') format('woff'), url('/assets/fonts/proxima-nova/proximanova-black-webfont.ttf') format('truetype'), url('/assets/fonts/proxima-nova/proximanova-black-webfont#ProximaNovaBlRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltbold';
  src: url('/assets/fonts/proxima-nova/proximanova-semibold-webfont.eot');
  src: local('?'), url('/assets/fonts/proxima-nova/proximanova-semibold-webfont.woff') format('woff'), url('/assets/fonts/proxima-nova/proximanova-semibold-webfont.ttf') format('truetype'), url('/assets/fonts/proxima-nova/proximanova-semibold-webfont#proxima_nova_ltbold') format('svg');
  font-style: normal;
  
  /*font-weight: bold;*/
}
@font-face {
  font-family: 'proxima_nova_thbold';
  src: url('/assets/fonts/proxima-nova/proximanova-extrabld-webfont.eot');
  src: local('?'), url('/assets/fonts/proxima-nova/proximanova-extrabld-webfont.woff') format('woff'), url('/assets/fonts/proxima-nova/proximanova-extrabld-webfont.ttf') format('truetype'), url('/assets/fonts/proxima-nova/proximanova-extrabld-webfontt#proxima_nova_thbold') format('svg');
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltregular';
  src: url('/assets/fonts/proxima-nova/proximanova-light-webfont.eot');
  src: url('/assets/fonts/proxima-nova/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/proxima-nova/proximanova-light-webfont.woff') format('woff'), url('/assets/fonts/proxima-nova/proximanova-light-webfont.ttf') format('truetype'), url('/assets/fonts/proxima-nova/proximanova-light-webfont.svg#proxima_nova_ltregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.type-center-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
@media (min-width: 991px) {
  .type-center-outer {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.home .home-welcome-sub::after {
  position: relative;
  right: -5px;
  top: -5px;
  display: inline-block;
  content: "";
  height: 1px;
  width: 25px;
  background-color: #ffffff;
}
.u-uppercase {
  text-transform: uppercase;
}
.circular {
  border-radius: 50%;
}
body {
  overflow-x: hidden;
}
html,
body {
  font-family: "Gotham", Helvetica, Helvetica Neue, sans-serif, serif;
}
@media (min-width: 991px) {
  .container {
    width: 1024px;
  }
}
.btn {
  background: none;
  padding-left: 25px;
  padding-right: 25px;
  color: #cecece;
  border: 1px solid #cecece;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.btn:hover,
.btn:focus {
  color: #000;
  border-color: transparent;
  background-color: #ffffff;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}
.btn.btn-rounded {
  border-radius: 20px;
}
.btn > .btn-icon {
  margin-right: 3px;
}
.btn.btn-success {
  color: #28e9b0;
  border-color: #28e9b0;
}
.btn.btn-success:hover,
.btn.btn-success:focus {
  color: #ffffff;
  background-color: #28e9b0;
  border-color: transparent;
}
.btn.btn-danger {
  color: #ff001e;
  border-color: #ff001e;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus {
  color: #ffffff;
  background-color: #ff001e;
  border-color: transparent;
}
.btn.btn-primary {
  color: #26afff;
  border-color: #26afff;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  color: #ffffff;
  background-color: #26afff;
  border-color: transparent;
}
.btn.btn-dk {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
}
.btn.btn-dk:hover,
.btn.btn-dk:focus {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: transparent;
}
.btn.btn-inverted-success {
  color: #ffffff;
  background-color: #28e9b0;
  border-color: transparent;
}
.btn.btn-inverted-success:hover,
.btn.btn-inverted-success:focus {
  color: #ffffff;
  background-color: #72f1cb;
}
.btn.btn-inverted-danger {
  color: #ffffff;
  background-color: #ff001e;
  border-color: transparent;
}
.btn.btn-inverted-danger:hover,
.btn.btn-inverted-danger:focus {
  color: #ffffff;
  background-color: #ff5266;
}
.btn.btn-inverted-primary {
  color: #ffffff;
  background-color: #26afff;
  border-color: transparent;
}
.btn.btn-inverted-primary:hover,
.btn.btn-inverted-primary:focus {
  color: #ffffff;
  background-color: #78cdff;
}
.btn.btn-inverted-dk {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: transparent;
}
.btn.btn-inverted-dk:hover,
.btn.btn-inverted-dk:focus {
  color: #ffffff;
  background-color: rgba(41, 41, 41, 0.5);
}
.btn.btn-hover-disable-success:hover,
.btn.btn-hover-disable-success:focus {
  color: #ffffff;
  background-color: #28e9b0;
}
.btn.btn-hover-disable-danger:hover,
.btn.btn-hover-disable-danger:focus {
  color: #ffffff;
  background-color: #ff001e;
}
.btn.btn-hover-disable-primary:hover,
.btn.btn-hover-disable-primary:focus {
  color: #ffffff;
  background-color: #26afff;
}
.btn.btn-hover-disable-dk:hover,
.btn.btn-hover-disable-dk:focus {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn-default-container.btn-special::before {
  position: relative;
  left: -5px;
  top: -5px;
  display: inline-block;
  content: "";
  width: 25px;
  height: 1px;
  background-color: #ffffff;
}
.btn-default-container.btn-special::after {
  position: relative;
  right: -5px;
  top: -5px;
  display: inline-block;
  content: "";
  height: 1px;
  width: 25px;
  background-color: #ffffff;
}
.btn-primary-container.btn-special::before {
  position: relative;
  left: -5px;
  top: -5px;
  display: inline-block;
  content: "";
  width: 25px;
  height: 1px;
  background-color: #26afff;
}
.btn-primary-container.btn-special::after {
  position: relative;
  right: -5px;
  top: -5px;
  display: inline-block;
  content: "";
  height: 1px;
  width: 25px;
  background-color: #26afff;
}
.btn-success-container.btn-special::before {
  position: relative;
  left: -5px;
  top: -5px;
  display: inline-block;
  content: "";
  width: 25px;
  height: 1px;
  background-color: #28e9b0;
}
.btn-success-container.btn-special::after {
  position: relative;
  right: -5px;
  top: -5px;
  display: inline-block;
  content: "";
  height: 1px;
  width: 25px;
  background-color: #28e9b0;
}
.btn-dk-container.btn-special::before {
  position: relative;
  left: -5px;
  top: -5px;
  display: inline-block;
  content: "";
  width: 25px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn-dk-container.btn-special::after {
  position: relative;
  right: -5px;
  top: -5px;
  display: inline-block;
  content: "";
  height: 1px;
  width: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn-sm,
.btn-group-sm > .btn {
  padding-left: 12px;
  padding-right: 12px;
}
.btn-lg,
.btn-group-lg > .btn {
  padding-left: 50px;
  padding-right: 50px;
}
.btn-flat {
  border-radius: 0;
}
.component-head {
  text-align: center;
  margin-bottom: 25px;
}
.video-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}
.video-wrapper video {
  width: 100%;
}
.home {
  height: 100vh;
  width: 100%;
  color: #ffffff;
  background-color: #1b2db5;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .home {
    background-color: #000;
  }
}
.home .home-video-wrapper {
  opacity: 0;
}
@media (min-width: 1200px) {
  .home .home-video-wrapper {
    opacity: 0.5;
  }
}
.home .home-outer-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  display: table;
  height: 100%;
  width: 100%;
}
.home .home-outer-wrapper > .home-inner-wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.home .home-btn-group *:first-child {
  margin-right: 10px;
}
.home .home-btn-group *:last-child {
  margin-left: 10px;
}
.home .home-logo {
  width: 120px;
  margin-right: -40px;
  margin-bottom: -30px;
}
@media (min-width: 991px) {
  .home .home-logo {
    width: 240px;
    margin-right: -60px;
    margin-bottom: -60px;
  }
}
.home .home-welcome-header {
  margin-top: 0;
  font-size: 65px;
  font-weight: 700;
  text-transform: uppercase;
}
.home .home-welcome-sub {
  letter-spacing: 1px;
  font-size: 13px;
  text-transform: uppercase;
}
.home .home-welcome-shadow {
  text-shadow: #1829a3 1px 1px, #1829a3 2px 2px, #1829a3 3px 3px, #1829a3 4px 4px, #1829a3 5px 5px, #1829a5 6px 6px, #1829a7 7px 7px, #192aa9 8px 8px, #192aab 9px 9px, #192bad 10px 10px, #1a2baf 11px 11px, #1a2cb1 12px 12px, #1a2cb3 13px 13px, #1b2db5 14px 14px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.home .home-welcome-sub::before {
  position: relative;
  left: -5px;
  top: -5px;
  display: inline-block;
  content: "";
  width: 25px;
  height: 1px;
  background-color: #ffffff;
}
.home .home-welcome-sub::after {
  position: relative;
  right: -5px;
  top: -5px;
  display: inline-block;
  content: "";
  height: 1px;
  width: 25px;
  background-color: #ffffff;
}
.home-btn {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 45px;
  height: 45px;
  border: 1px solid #ffffff;
  padding: 11px;
  background: transparent;
  z-index: 101;
}
.home-btn-group {
  position: relative;
  margin-top: 50px;
}
.home-btn-interactive {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border: 2px solid #fff;
  z-index: 100;
  -webkit-animation: home-btn-animate 0.75s infinite;
          animation: home-btn-animate 0.75s infinite;
}
.js-home-btn-interactive {
  visibility: hidden;
}
@-webkit-keyframes home-btn-animate {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  10% {
    opacity: 0.5;
    border-width: 4px;
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
  }
  100% {
    opacity: 0.7;
    border-width: 2px;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes home-btn-animate {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  10% {
    opacity: 0.5;
    border-width: 4px;
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
  }
  100% {
    opacity: 0.7;
    border-width: 2px;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.about {
  height: auto;
  min-height: 100vh;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #1b2db5;
  color: #ffffff;
}
@media (min-width: 991px) {
  .about {
    min-height: 250px;
  }
}
.about .about-head {
  color: #ffffff;
}
.about .about-item {
  position: relative;
}
.about .about-item {
  margin-bottom: 25px;
}
.about .about-box {
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 12px;
  padding-right: 12px;
}
.about .about-box:not(:last-child) {
  margin-bottom: 25px;
}
.about-box .about-box-head {
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.about-box .about-box-text {
  text-align: center;
  margin-bottom: 15px;
}
.about-box .about-box-head::after {
  display: block;
  content: "";
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 2px;
  width: 75px;
  background-color: rgba(0, 0, 0, 0.3);
}
.about-box .about-box-icon {
  display: block;
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}
.about-box .about-box-icon.about-box-icon-lg {
  font-size: 30px;
}
@media (min-width: 991px) {
  .about-box {
    height: 280px;
  }
  .about-btn {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
  }
}
.judges {
  height: auto;
  min-height: 100vh;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
@media (min-width: 991px) {
  .judges {
    min-height: 250px;
  }
}
.judges-head {
  color: #ff001e;
}
.judge-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (min-width: 991px) {
  .judge-container {
    width: 500px;
  }
}
.judge {
  margin-bottom: 50px;
  margin-left: -15px;
  margin-right: -15px;
  margin-left: 0;
  margin-right: 0;
}
.judge:nth-child(2n+2) .judge-name,
.judge:nth-child(2n+2) .judge-title,
.judge:nth-child(2n+2) .judge-text {
  text-align: right;
}
.judge-avatar {
  display: block;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background: #ddd;
  background-size: cover;
  background-position: center center;
}
.judge-name {
  margin-top: 0;
  margin-bottom: 0;
  color: #26afff;
}
.judge-title {
  margin-top: 2.5px;
  margin-bottom: 7.5px;
  color: #cecece;
}
@media (min-width: 991px) {
  .judge-name,
  .judge-text,
  .judge-title {
    text-align: left;
  }
  .judge-avatar {
    margin-left: 0;
    margin-right: 0;
  }
}
.sponsors {
  height: auto;
  min-height: 100vh;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
@media (min-width: 991px) {
  .sponsors {
    min-height: 250px;
  }
}
.sponsors .sponsors-head {
  color: #28e9b0;
  margin-bottom: 100px;
}
.sponsors .sponsor-sub-head {
  position: relative;
  top: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (min-height: 991px) {
  .sponsors .sponsor-sub-head {
    top: -75px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.sponsor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 150px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.sponsor img {
  width: 75%;
  display: inline-block;
}
@media (min-width: 991px) {
  .sponsor {
    height: 134.61538462px;
    margin-bottom: 100px;
  }
  .sponsor img {
    width: 90%;
  }
}
.sponsor-sm {
  margin-bottom: 25px;
}
.sponsor-sm-margin {
  margin-bottom: 25px;
}
.sponsor-sm img {
  width: 50%;
}
@media (min-width: 991px) {
  .sponsor-center {
    margin-left: 33.33%;
  }
  .sponsor-center-2 {
    margin-left: 22%;
  }
  .sponsor-sm {
    margin-bottom: 50px;
  }
  .sponsor-sm-margin {
    margin-bottom: 50px;
    height: 116.66666667px;
  }
  .sponsor-sm-margin-2 {
    margin-bottom: 50px;
  }
  .sponsor-sm-margin-top {
    margin-top: 50px;
  }
}
@media (min-width: 991px) {
  .sponsor {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  .sponsor:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    -webkit-animation: sponsor-largen 0.5s;
            animation: sponsor-largen 0.5s;
  }
}
@-webkit-keyframes sponsor-largen {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  20% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes sponsor-largen {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  20% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.contact {
  height: auto;
  min-height: 100vh;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #111111;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  min-height: 50px !important;
  color: #ffffff;
}
@media (min-width: 991px) {
  .contact {
    min-height: 250px;
  }
}
.navbar-hack {
  background: transparent;
}
.navbar-hack .navbar-brand,
.navbar-hack li a {
  color: #fff;
}
.navbar-hack .navbar-brand.active,
.navbar-hack li a.active,
.navbar-hack .navbar-brand:hover,
.navbar-hack li a:hover,
.navbar-hack .navbar-brand:focus,
.navbar-hack li a:focus {
  color: #cccccc;
}
@media (min-width: 991px) {
  .navbar-hack .navbar-brand,
  .navbar-hack li a {
    color: #fff;
  }
  .navbar-hack .navbar-brand.active,
  .navbar-hack li a.active,
  .navbar-hack .navbar-brand:hover,
  .navbar-hack li a:hover,
  .navbar-hack .navbar-brand:focus,
  .navbar-hack li a:focus {
    color: #cccccc;
  }
}
.navbar-hack .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar-hack .navbar-collapse {
  text-align: center;
}
.navbar-hack .navbar-nav {
  float: initial;
  display: inline-block;
}
.navbar-hack li {
  display: inline-block;
}
.navbar-hack li a {
  font-size: 11px;
  text-transform: uppercase;
}
.navbar-hack li a:hover,
.navbar-hack li a:focus {
  background-color: transparent;
}
.navbar-hack.is-active {
  background: #fff;
  box-shadow: 1px 0px 2px #cecece;
}
.navbar-hack.upwards {
  top: -50px;
  -webkit-transition: 1s all;
          transition: 1s all;
}
.navbar-hack.downwards {
  top: 0;
  -webkit-transition: 1s all;
          transition: 1s all;
}
.navbar-hack.is-active .navbar-brand,
.navbar-hack.is-active li a {
  color: #000;
}
.navbar-hack.is-active .navbar-brand:hover,
.navbar-hack.is-active li a:hover,
.navbar-hack.is-active .navbar-brand:focus,
.navbar-hack.is-active li a:focus {
  color: #999999;
}
.navbar-hack.is-active li.active a {
  color: #999999;
}
.navbar-hack.is-active li.active a:hover,
.navbar-hack.is-active li.active a:focus {
  color: #4d4d4d;
}
.navbar-hack.is-active .navbar-toggle .icon-bar {
  background: #000;
}
@-webkit-keyframes navbarSlideUp {
  from {
    top: 0px;
  }
  to {
    top: -50px;
  }
}
@keyframes navbarSlideUp {
  from {
    top: 0px;
  }
  to {
    top: -50px;
  }
}
@-webkit-keyframes navbarSlideDown {
  from {
    top: -50px;
  }
  to {
    top: 0px;
  }
}
@keyframes navbarSlideDown {
  from {
    top: -50px;
  }
  to {
    top: 0px;
  }
}
.hamburger.is-active .icon-bar {
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.hamburger.is-active .first-line {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hamburger.is-active .second-line {
  opacity: 0;
}
.hamburger.is-active .third-line {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
