.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.form-horizontal .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-horizontal .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
.judge:before,
.judge:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
.judge:after {
  clear: both;
}
@font-face {
  font-family: "Gotham";
  font-weight: 100;
  src: local('Gotham-Light'), local('GothamLight'), local('Gotham Light'), url('/assets/fonts/Gotham-Light.otf') format('otf');
}
@font-face {
  font-family: "Gotham";
  font-weight: 200;
  src: local('Gotham-Thin'), local('GothamThin'), local('Gotham Thin'), url('/assets/fonts/Gotham-Thin.otf') format('otf');
}
@font-face {
  font-family: "Gotham";
  font-weight: 300;
  src: local('Gotham-Book'), local('GothamBook'), local('Gotham Book'), url('/assets/fonts/Gotham-Book.otf') format('otf');
}
@font-face {
  font-family: "Gotham";
  font-weight: 400;
  src: local('Gotham-Medium'), local('GothamMedium'), local('Gotham Medium'), url('/assets/fonts/Gotham-Medium.otf') format('otf');
}
@font-face {
  font-family: "Gotham";
  font-weight: 500;
  src: local('Gotham-Bold'), local('GothamBold'), local('Gotham Bold'), url('/assets/fonts/Gotham-Bold.otf') format('otf');
}
@font-face {
  font-family: "Gotham";
  font-weight: 600;
  src: local('Gotham-Black'), local('GothamBlack'), local('Gotham Black'), url('/assets/fonts/Gotham-Black.otf') format('otf');
}
@font-face {
  font-family: "Gotham";
  font-weight: 700;
  src: local('Gotham-Ultra'), local('GothamUltra'), local('Gotham Ultra'), url('/assets/fonts/Gotham-Ultra.otf') format('otf');
}
.type-center-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.home .home-welcome-sub::after {
  position: relative;
  right: -5px;
  top: -5px;
  display: inline-block;
  content: "";
  height: 1px;
  width: 25px;
  background-color: #ffffff;
}
.u-uppercase {
  text-transform: uppercase;
}
.circular {
  border-radius: 50%;
}
html,
body {
  font-family: "Gotham", Helvetica, Helvetica Neue, sans-serif, serif;
}
@media (min-width: 991px) {
  .container {
    width: 1024px;
  }
}
.btn {
  color: #cecece;
  border: 1px solid #cecece;
  background: none;
  font-weight: 700;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  border-color: transparent;
  background-color: #cecece;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}
.btn.btn-rounded {
  border-radius: 20px;
}
.btn > .btn-icon {
  margin-right: 3px;
}
.btn.btn-success {
  color: #28e9b0;
  border-color: #28e9b0;
}
.btn.btn-success:hover,
.btn.btn-success:focus {
  color: #ffffff;
  background-color: #28e9b0;
}
.btn.btn-danger {
  color: #ff001e;
  border-color: #ff001e;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus {
  color: #ffffff;
  background-color: #ff001e;
}
.btn.btn-primary {
  color: #26afff;
  border-color: #26afff;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  color: #ffffff;
  background-color: #26afff;
}
.component-head {
  text-align: center;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.home {
  height: 100vh;
  width: 100%;
  color: #ffffff;
  background-color: #1b2db5;
}
.home .home-outer-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.home .home-outer-wrapper > .home-inner-wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.home .home-logo {
  width: 240px;
}
.home .home-welcome-header {
  font-weight: 700;
  text-transform: uppercase;
}
.home .home-welcome-sub {
  letter-spacing: 0.5px;
  font-size: 13px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
.home .home-welcome-sub::before {
  position: relative;
  left: -5px;
  top: -5px;
  display: inline-block;
  content: "";
  width: 25px;
  height: 1px;
  background-color: #ffffff;
}
.home .home-welcome-sub::after {
  position: relative;
  right: -5px;
  top: -5px;
  display: inline-block;
  content: "";
  height: 1px;
  width: 25px;
  background-color: #ffffff;
}
.about {
  height: auto;
  min-height: 100vh;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ffffff;
}
@media (min-width: 991px) {
  .about {
    min-height: 250px;
  }
}
.about .about-head {
  color: #26afff;
}
.about .about-item {
  position: relative;
}
.about .about-item:not(:last-child) {
  margin-bottom: 25px;
}
.about .about-box {
  border: 1px solid #cecece;
  padding: 12px;
}
.about .about-box:not(:last-child) {
  margin-bottom: 25px;
}
.about-box .about-box-icon {
  color: #cecece;
  margin-right: 10px;
  font-size: 16px;
}
.about-box .about-box-icon.about-box-icon-lg {
  font-size: 20px;
}
.about-box .about-box-text {
  margin-bottom: 15px;
}
.about-box .about-box-head {
  margin-top: 0;
  text-transform: uppercase;
  color: #26afff;
  font-weight: 700;
}
.about-box .about-box-head::after {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  display: block;
  content: "";
  height: 1px;
  width: 30px;
  background-color: #cecece;
}
@media (min-width: 991px) {
  .about-box {
    height: 200px;
  }
  .about-btn {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
  }
}
.judges {
  height: auto;
  min-height: 100vh;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f9f9f9;
}
@media (min-width: 991px) {
  .judges {
    min-height: 250px;
  }
}
.judges-head {
  color: #ff001e;
}
.judge {
  height: auto;
  margin-bottom: 25px;
  clear: none;
  margin-left: -15px;
  margin-right: -15px;
  margin-left: 0;
  margin-right: 0;
}
.judge::after {
  position: relative;
  top: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  content: "";
  background-color: #cecece;
  width: 25px;
  height: 1px;
}
.judge-avatar {
  display: block;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background: #ddd;
  background-size: cover;
  background-position: center center;
}
.judge-name {
  text-align: center;
  color: #ff001e;
}
.judge-text {
  text-align: center;
}
@media (min-width: 991px) {
  .judge-name,
  .judge-text {
    text-align: left;
  }
  .judge-avatar {
    margin-left: 0;
    margin-right: 0;
  }
  .judge::after {
    background-color: transparent;
    margin-bottom: 50px;
  }
}
.sponsors {
  height: auto;
  min-height: 100vh;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #111111;
}
@media (min-width: 991px) {
  .sponsors {
    min-height: 250px;
  }
}
.sponsors .sponsors-head {
  color: #28e9b0;
}
