.home {
	@home-bg-color: @color-ateneo-blue;
	@home-text-color: @color-ateneo-white;

	// for the navbar
	// position: relative;
	// margin-top: 50px;

	// min-height: 100vh;
	// height: auto;
	height: 100vh;
	width: 100%;

	color: @home-text-color;
	background-color: @home-bg-color;
	overflow: hidden;
}

@media (min-width: @screen-lg-min) {
	.home {
		background-color: #000;
	}
}

// Video wrapper
.home .home-video-wrapper {	opacity: 0; }
@media(min-width: @screen-lg-min) {
	.home .home-video-wrapper { opacity: 0.5; }
}


.home .home-outer-wrapper { .type-center-outer(); }
.home .home-outer-wrapper > .home-inner-wrapper { .type-center-inner(); }
.home .home-btn-group *:first-child { margin-right: 10px; }
.home .home-btn-group *:last-child { margin-left: 10px; }

@home-logo-width: 240px;

.home .home-logo {
	width: @home-logo-width / 2;

	// for the long shadows
	// margin-top: (@home-logo-width / 6);
	margin-right: (@home-logo-width / 6) * -1;
	margin-bottom: (@home-logo-width / 6) * -1;
}

@media(min-width: @screen-sm-max) {
	.home .home-logo {
		width: @home-logo-width;
		margin-right: (@home-logo-width / 4) * -1;
		margin-bottom: (@home-logo-width / 4) * -1;
	}
}

.home .home-welcome-header {
	font-weight: @gotham-wt-ultra;
	text-transform: uppercase;
}

.home .home-welcome-sub {
	@home-welcome-sub-font: @font-family-serif;
	@home-welcome-sub-size: ceil(@font-size-base * 0.9);

	letter-spacing: 1px;
	font-size: @home-welcome-sub-size;
	// font-weight: 100;
	// font-family: @home-welcome-sub-font;
	// font-style: italic;
	text-transform: uppercase;
}

// ts
.home .home-welcome-shadow {
	text-shadow: rgb(24, 41, 163) 1px 1px,
    rgb(24, 41, 163) 2px 2px,
    rgb(24, 41, 163) 3px 3px,
    rgb(24, 41, 163) 4px 4px,
    rgb(24, 41, 163) 5px 5px,
    rgb(24, 41, 165) 6px 6px,
    rgb(24, 41, 167) 7px 7px,
    rgb(25, 42, 169) 8px 8px,
    rgb(25, 42, 171) 9px 9px,
    rgb(25, 43, 173) 10px 10px,
    rgb(26, 43, 175) 11px 11px,
    rgb(26, 44, 177) 12px 12px,
    rgb(26, 44, 179) 13px 13px,
    rgb(27, 45, 181) 14px 14px;

    transition: all 0.5s ease;
}

// Rework done
// -----
.home .home-welcome-sub::before {
	.typography-line-before(@color-ateneo-white);
}
.home .home-welcome-sub::after {
	.typography-line-after(@color-ateneo-white);
}

.home-btn {	
	@home-btn-size: 45px;
	@home-btn-padding: floor(@home-btn-size / 4);

	.circular();
	.margin-hr(auto);
	width: @home-btn-size;
	height: @home-btn-size;
	border: 1px solid @color-white;
	padding: @home-btn-padding;
	background: transparent;
	z-index: 101;
}

.home-btn-group {
	position: relative;
	margin-top: 50px;
}

.home-btn-interactive {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;

	.circular();
	cursor: pointer;
	width: 45px;
	height: 45px;
	// background: #fff;
	border: 2px solid #fff;
	z-index: 100;

	animation: home-btn-animate 0.75s infinite;
}

// For the sake of js
.js-home-btn-interactive {
	visibility: hidden;
}

@keyframes home-btn-animate {
	0% {
		transform: scale(1, 1);
	}

	10% {
		opacity: 0.5;
		border-width: 4px;
		transform: scale(1.3, 1.3);
	}

	100% {
		opacity: 0.7;
		border-width: 2px;
		transform: scale(1, 1);
	}
}