.judges { .component(@color-white); }
.judges-head { color: @color-red; }

.judge-container {
	.margin-hr();
	width: 100%;
}

@media(min-width: @screen-sm-max) {
	.judge-container { width: 500px; }
}

.judge {
	margin-bottom: 50px;
	.make-row();
	.margin-hr(0);
}

.judge:nth-child(2n+2) {
	.judge-name,
	.judge-title,
	.judge-text { .text-right(); }
}

// .judge::after {
// 	position: relative;
// 	.margin-hr();
// 	.pseudo-display();
// 	background-color: @color-gray-dk;
// 	width: 25px;
// 	height: 1px;
// }

.judge-avatar {
	@avatar-size: 75px;

	display: block;
	height: @avatar-size;
	width: @avatar-size;
	.circular();
	.margin-hr();
	margin-top: 5px;
	// Random bg color
	background: #ddd;
	background-size: cover;
	background-position: center center;
}

.judge-name {
	.margin-vt(0);
	color: @color-blue;
}

// Judge title
.judge-title {
	margin-top: 2.5px;
	margin-bottom: 7.5px;
	color: @color-gray-dk;
}
@media(min-width: @screen-sm-max) {
	.judge-name,
	.judge-text,
	.judge-title {
		.text-left();
	}

	.judge-avatar {
		.margin-hr(0);
	}

	// .judge::after {
	// 	background-color: transparent;
	// }
}